<!DOCTYPE html>
<html lang="en">
  <head>
    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;500&display=swap" rel="stylesheet">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
  </head>
  <body style="font-family: 'Prompt', sans-serif; font-size: 14px;">
  
    <%- include('layout/headbarU') -%>
      <div class="container-fluid page-body-wrapper">
        <%- include('layout/navbarU') -%>
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                  <i class="mdi mdi-food-fork-drink"></i>
                </span> จัดการข้อมูลสินค้า
              </h3>
              <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">
                  </li>
                </ul>
              </nav>
            </div>

            <div class="row">
            <div class="row">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">  
                        <a href="#" class="btn btn-block btn-lg btn-gradient-primary mt-1" data-bs-toggle="modal" data-bs-target="#addEmployeeModal" style="font-family: 'Prompt', sans-serif; font-size: 14px;">+ เพิ่มวัตถุดิบ</a>
                        </h4>
                        <div class="modal fade" id="addEmployeeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">เพิ่มสินค้า</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <form action="products/insertU" method="POST" enctype="multipart/form-data">
                                  <div class="mb-3">
                                    <label for="productName" class="form-label">ชื่อสินค้า</label>
                                    <input type="text" class="form-control" id="productname" name="productname" required>
                                  </div>
                                  <div class="mb-3">
                                    <label for="productType" class="form-label">ประเภท</label>
                                    <select class="form-control" id="type" name="type" required style="font-family: 'Prompt', sans-serif; font-size: 14px;">
                                        <option value="เย็น">เย็น</option>
                                        <option value="ร้อน">ร้อน</option>
                                        <option value="ปั่น">ปั่น</option>
                                    </select>
                                </div>
                                  <div class="mb-3">
                                    <label for="productPrice" class="form-label">ราคา</label>
                                    <input type="number" class="form-control" id="price" name="price" pattern="[0-9]+" required>
                                </div>
                                <div class="mb-3">
                                  <label for="image" class="form-label" >รูปภาพ</label>
                                  <input type="file" class="form-control" id="image" name="image" style="font-family: 'Prompt', sans-serif; font-size: 14px;" required>
                                </div>                     
                                  <button type="submit" class="btn btn-dark" style="font-family: 'Prompt', sans-serif; font-size: 14px;">บันทึก</button>
                                </form>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="font-family: 'Prompt', sans-serif; font-size: 14px;">ลำดับ</th>
                                <th style="font-family: 'Prompt', sans-serif; font-size: 14px;">รูป</th>
                                <th style="font-family: 'Prompt', sans-serif; font-size: 14px;">ชื่อวัตถุดิบ</th>
                                <th style="font-family: 'Prompt', sans-serif; font-size: 14px;">หน่วยนับ</th>
                                <th style="font-family: 'Prompt', sans-serif; font-size: 14px;">ราคาต่อหน่วย</th>
                                <!-- <th style="font-family: 'Prompt', sans-serif; font-size: 14px;">จัดการ</th> -->
                                <!-- <th style="font-family: 'Prompt', sans-serif; font-size: 14px;"><% for (let i = 0; i < 25; i++) { %>&nbsp;<% } %>
                                จัดการ
                                </th> -->
                         
                            </tr>
                        </thead>
                        <tbody id="productTableBody">
                            <% products.forEach((product, index) => { %>
                                <tr>
                                    <td><%= index + 1 %></td>
                                    <td><img src="/images/products/<%= product.image %>" alt="Product Image" style="width: 50px; height: 50px; object-fit: cover;"></td>
                                    <td><%= product.productname %></td>
                                    <td><%= product.type %></td>
                                    <td><%= product.price %></td>
                                    <td>
                                      <form action="products/editU/<%= product._id %>" method="POST">
                                        <input type="text" name="edit_id" value="<%= product.id%>" hidden >
                                        <button type="submit" class="btn btn-warning">
                                          <i class="mdi mdi-border-color"></i>
                                        </button>                        
                                      </form>
                                    </td>
                                    <td>
                                      <a href="products/deleteU/<%= product._id %>" class="btn btn-danger" onclick="return confirm('คุณต้องการลบหรือไม่ ?')">
                                      <i class="mdi mdi-delete"></i>                                     
                                      </a>
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
        </div>
        </div>
    </div>
    <%- include('layout/footerU') -%>
  
    <!-- plugins:js -->
    <script src="/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="/assets/js/jquery.cookie.js" type="text/javascript"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/assets/js/off-canvas.js"></script>
    <script src="/assets/js/hoverable-collapse.js"></script>
    <script src="/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/assets/js/dashboard.js"></script>
    <script src="/assets/js/todolist.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>
